{% extends 'forum/base_generic.html' %}

{% block content %}
  <h1>Send a message{% if username %} to {{ username }}{% endif %}</h1>
  
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_recipients">Recipients:</label><br>
      {{ form.recipients }}<br>
      <small>{{ form.recipients.help_text }}</small>
    </div>
    {% if form.errors.recipients %}
      <div class="error">
        <ul>
          {% for error in form.errors.recipients %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <br>
    {{ form.title.label_tag }}<br>
    {{ form.title }}
    <br><br>
    {{ form.content.label_tag }}<br>
    {{ form.content }}
    <br><br>
    <button type="submit">Send</button>
  </form>
{% endblock %}
